<div class="col-md-12">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="pipe_size">Pipe size :</label>
            <input value="{pipe_size}" type="text" id="pipe_size" name="pipe_size" class="form-control" onkeypress="return isNumberKey(event)">
        </div>
        <div class="form-group col-md-6">
            <label for="time_out_min_afv">Time out (นาที) :</label>
            <input value="{time_out_min_afv}" type="text" id="time_out_min_afv" name="time_out_afv" class="form-control" onkeypress="return isNumberKey(event)">
        </div>
    </div>
</div>

