<div class="list-group-item">
    <div class="row">
        <div class="form-group col-lg-2" style="margin-top: 10px; ">
            <label for="txtvalva_afv">ตั้งค่า เปิด / ปิด FV</label><br>
            <label class="switch">
                <input type="checkbox" id="txtvalva_afv" {checked_chk}>
                <span class="slider round"></span>
            </label>
        </div>
        <div id="dvtxtafv_timeoutmin" class="form-group col-lg-3" style="margin-top: 10px; {displaynone}">
            <label for="txtafv_timeoutmin">เปิดแล้วปิดใน (นาที)</label><br>
            <input id="txtafv_timeoutmin" type="text" value="{txtafv_timeoutmin}" class="form-control" onkeypress="return isNumberKey(event)" maxlength="3">
        </div>
    </div>
</div>
<br>
<button type="button" class="btn btn-primary btn-flat col-md-2" data-toggle="modal" href="#aboutModal_save" onclick="Popup(2,'manual')"><i class="fa fa-floppy-o"></i>{btnsave}</button>
